<form action="/list" method="GET">
  <label for="SearchHint">Search for:</label>
  <input id="q" type="text" name="q" value="{{q}}"/>
  <input type="submit" value="Search"/>
</form>
<h1>{{title}}</h1>
<div>
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Close</td>
                <td>%Chg</td>
                <td>Open</td>
                <td>Low</td>
                <td>High</td>
                <td>VOL(*100)</td>
                <td>AMOUNT(*10K)</td>
                <td>Turnover Rate</td>
                {{!-- Original sequence
                <td>date</td>
                <td>Open</td>
                <td>Close</td>
                <td>Change</td>
                <td>%Chg</td>
                <td>Low</td>
                <td>High</td>
                <td>VOL(*100)</td>
                <td>AMOUNT(*10K)</td>
                <td>Turnover Rate</td>
                --}}
            </tr>
        </thead>
        <tbody>
            {{#each idNames as |value key|}}
                <tr>
                    <td><a href="/history?id={{key}}">{{key}}</a></td>
                    <td><a href="/history?id={{key}}">{{this}}</a></td>
                    {{#with (lookup (lookup ../histories key) 0) as |gphist|}}
                        {{#if gphist}}
                            <td>{{gphist.[2]}}</td>
                            <td>{{gphist.[4]}}</td>
                            <td>{{gphist.[1]}}</td>
                            <td>{{gphist.[5]}}</td>
                            <td>{{gphist.[6]}}</td>
                            <td>{{gphist.[7]}}</td>
                            <td>{{gphist.[8]}}</td>
                            <td>{{gphist.[9]}}</td>
                        {{else}}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        {{/if}}
                    {{/with}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>